<mat-card>
  <mat-card-title>Contact Me</mat-card-title>
  <mat-card-content>
  <form (submit)="onSubmit(f)" #f="ngForm">
    <mat-form-field>
      <input type="text" name="name" ngModel placeholder="Name" class="form-control" matInput #nameInput="ngModel" required>
      <mat-error *ngIf="nameInput.invalid">Please enter a name.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="email" name="email" ngModel placeholder="E-mail" class="form-control" matInput #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" name="subject" ngModel placeholder="Subject" class="form-control" matInput #subjectInput="ngModel" required>
      <mat-error *ngIf="subjectInput.invalid">Please enter a subject.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea type="text" name="message" ngModel placeholder="Message" class="form-control" matInput #messageInput="ngModel" required>
      </textarea>
      <mat-error *ngIf="messageInput.invalid">Please enter a message.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="!f.valid">Send</button>
  </form>
  </mat-card-content>
</mat-card>
